<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Hipsters Home</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
		<div class="ui container">
			<h1>Hipster Application</h1>
			<h2 class="ui dividing header">Hipsters</h2>
			<div class="ui stackable equal width grid">
				<th:block th:each="hipster : ${hipsters}">
					<div class="column">
						<h4 class="ui header" th:text="${hipster.name}">hipster name</h4>
					</div>
					<div class="column">
						<th:block th:each="hobby : ${hipster.hobbies}">
							<div class="ui list">
								<div class="item" th:text="${hobby.name}">hipster hobby</div>
							</div>
						</th:block>
						<div style="clear: both; display: block;"></div>
					</div>
				</th:block>
			</div>
		</div>
	</body>
</html>